langchain>=0.1.15
langchain-community
langchain-huggingface
sentence-transformers>=2.2.2
faiss-cpu>=1.7.4     # faiss-gpu for running with GPU(s)
unstructured>=0.10.30
transformers>=4.36.2
torch>=2.1.1
python-dotenv>=1.0.0
accelerate>=0.25.0
python-magic-bin
gradio>=4.13.0
unstructured[pdf,docx]>=0.12.0
python-magic>=0.4.27
rank_bm25>=0.2.2
